body {
  width: 768px;
  height: 425px;
  line-height: 2.25;
}

.header-wrapper {
    margin-left: -15px;
    margin-bottom: 8px;
    margin-right: -15px;
    background-color: #2196F3;
    padding: 8px;
    color: white;

    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

#location {
    background-color: white;
    border-radius: 3.5px;
}

select.form-control {
    padding-left: 4px;
}

.checkbox-custom {
    margin-top: 4px !important;
}

.hour-spots {
    padding: 0px 0px 0px 15px !important;
}

.open-spot-badge {
    background-color: #4caf50;
    margin: 4px;
}

.closed-spot-badge {
    background-color: #E51C23;
    margin: 4px;
}

.container-form-blocked {
    -webkit-filter: blur(3px);
}

#error-message {
    position: absolute;
    z-index: 1000;
    margin: 25px;
}

.open-spots {
    padding: 0px !important;
}

/* tr.slot-unavailable { */
/*     color: #DB6450; */
/* } */

/* tr.slot-available { */
/*     color: #337AB7; */
/* } */

/* .header { */
/*     display: -webkit-inline-box; */
/* } */

/* .group { */








/*     background-color: #E6E6FA; */
/* } */

/* .blur { */
/*     -webkit-filter: blur(3px); */
/* } */

/* .col-xs-3 { */
/*     width: 20%; */
/* } */

/* .col-xs-9 { */
/*     width: 80%; */
/* } */

/* .status-div { */
/*     padding-right: 15px; */
/* } */

/* .status { */
/*     padding-top: 12px; */
/*     float: right; */
/*     font-weight: bolder; */
/*     color: #337AB7; */
/* } */

/* .status-error { */
/*     color: #DB6450; */
/* } */

/* .btn { */
/*     margin-bottom: 15px; */
/*     margin-top: 10px; */
/* } */
