body {
  width: 750px;
  height: 450px;
  line-height: 2.25;
  background-color: #F5F5F5;
}

}
label {
    margin-bottom: auto;
}

tr.slot-unavailable {
    color: #DB6450;
}

tr.slot-available {
    color: #337AB7;
}

.header {
    display: -webkit-inline-box;
}

.group {
    background-color: #E6E6FA;
}

.blur {
    -webkit-filter: blur(3px);
}

.col-xs-3 {
    width: 20%;
}

.col-xs-9 {
    width: 80%;
}

.status-div {
    padding-right: 15px;
}

.status {
    padding-top: 12px;
    float: right;
    font-weight: bolder;
    color: #337AB7;
}

.status-error {
    color: #DB6450;
}

.btn {
    margin-bottom: 15px;
    margin-top: 10px;
}
