<!DOCTYPE html>
<html lang="en" ng-app="academic-scheduler">
    <head>
        <meta charset="UTF-8">
        <title>Academic Scheduler</title>
        <link rel="stylesheet" href="../css/lib/bootstrap.min.css">
        <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../bower_components/ladda/dist/ladda-themeless.min.css">
        <link rel="stylesheet" href="../css/style.css">

        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/moment/min/moment.min.js"></script>
        <script src="../bower_components/underscore/underscore-min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/angular-resource/angular-resource.min.js"></script>
        <script src="../bower_components/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
        <script src="../bower_components/angular-toArrayFilter/toArrayFilter.js"></script>
        <script src="../bower_components/ladda/dist/spin.min.js"></script>
        <script src="../bower_components/ladda/dist/ladda.min.js"></script>
        <script src="../bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
        <script src="../js/ng-app/app.js"></script>
        <script src="../js/ng-app/controllers.js"></script>
        <script src="../js/ng-app/services.js"></script>
        <script src="../js/ng-app/filters.js"></script>
    </head>
    <body>
        <div id="main" ng-controller="MainController">
            <div class="nav header-wrapper">
                <div class="col-xs-6 form-inline">
                    <div class="form-group">
                        <select class="form-control"
                                id="location"
                                ng-model="formData.selectedLocation"
                                ng-options="loc.location for loc in locations track by loc.location"
                                ng-change="onLocationSelect()"
                                required="required">
                        </select>
                    </div>
                    <div class="form-group">
                        <a ng-click="onLocationUpdate()"
                           style="color:white">
                            <i class="fa fa-refresh fa-lg"></i>
                        </a>
                    </div>
                </div>
                <div class="col-xs-offset-2 col-xs-4 form-inline">
                    <div class="checkbox-custom checkbox">
                        <label>
                            <input type="checkbox"
                                   ng-model="formData.isStudyGroup"> Click here to make a study group
                        </label>
                    </div>
                </div>
            </div>
            <div id="error-message"
                 class="alert alert-danger"
                 ng-show="formStatus.setupError"> <strong>{{ formStatus.errorMessage }}</strong></div>
            <div class="container container-form"
                 ng-class="{'container-form-blocked':formStatus.setupError}">
                <div class="col-xs-4 open-spots">
                    <ul class="list-group">
                        <li class="list-group-item hour-spots"
                            ng-repeat="(hour, tutors) in tutors">
                            {{ time[hour].display }}: {{ tutors.length != 0 ? (tutors.length > 1 ? tutors.slice(1).slice(0, 2).join(', ') + (tutors.length == 3 ? '.' : ', ...') : tutors.join() + '.') : 'No tutors' }}
                            <span class="badge"
                                  ng-class="{
                                            'open-spot-badge': tutors.length > 0, 'closed-spot-badge': tutors.length < 1
                                            }">{{ tutors.length > 1 ? tutors.length - 1 : tutors.length }}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-8">
                    <form ng-submit="onSubmit()"
                          novalidate="novalidate"
                          name="form"
                          class="form-horizontal">
                        <div class="container">
                            <div class="column-wrapper col-xs-4">
                                <div class="form-group">
                                    <label for="date"
                                           class="control-label col-xs-3">Date</label>
                                    <div class="col-xs-9">
                                        <input type="date"
                                               class="form-control"
                                               ng-model="formData.date"
                                               ng-change="onDateSelect()"
                                               id="date"
                                               required="required"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="course"
                                           class="control-label col-xs-3">Course</label>
                                    <div class="col-xs-9">
                                        <select class="form-control"
                                                ng-model="formData.course"
                                                ng-change="onCourseSelect()"
                                                ng-options="c.name for c in courses | toArray | orderBy:'name' "
                                                required="required">
                                            <option value="">Select a course</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="time"
                                           class="control-label col-xs-3">Time</label>
                                    <div class="col-xs-9">
                                        <select class="form-control"
                                                ng-model="formData.time"
                                                ng-change="setTutors()"
                                                ng-options="t.value as t.display for t in time"
                                                required="required">
                                            <option value="">Select time</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="professor"
                                           class="control-label col-xs-3">Professor</label>
                                    <div class="col-xs-9">
                                        <select class="form-control"
                                                ng-model="formData.professor"
                                                ng-options="p for p in professors | orderBy:'p'"
                                                required="required">
                                            <option value="">Select a professor</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="column-wrapper col-xs-4">
                                <div class="form-group">
                                    <label for="tutor"
                                           class="control-label col-xs-3">Tutor</label>
                                    <div class="col-xs-9">
                                        <select class="form-control"
                                                ng-model="formData.tutor"
                                                ng-options="tutor for tutor in tutors[formData.time]"
                                                required="required">
                                        </select>
                                        <div class="checkbox-custom checkbox" ng-show="tutors[formData.time].length == 1">
                                            <label>
                                                <input type="checkbox"
                                                       ng-model="formData.isSpecificTutorRequested">Request this tutor ##
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="student"
                                           class="control-label col-xs-3">Student</label>
                                    <div class="col-xs-9">
                                        <input type="text"
                                               class="form-control"
                                               ng-model="formData.student"
                                               ng-pattern="/\w+\s\w+.*/"
                                               ng-pattern-err-type="badName"
                                               placeholder="First Last"
                                               required="required" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="contact"
                                           class="control-label col-xs-3">Contact</label>
                                    <div class="col-xs-9">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Email or Phone"
                                               ng-model="formData.contact"
                                               ng-pattern="/(^(\()?(\d{3})(\))?[-\.\s]?(\d{3})[-\.\s]?(\d{4})$)|(^\S+@\S+\.\S+$)/"
                                               ng-pattern-err-type="badContact"
                                               required="required" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="note"
                                           class="control-label col-xs-3">Note</label>
                                    <div class="col-xs-9">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Optional"
                                               ng-model="formData.note"
                                               id="note" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="initials"
                                           class="control-label col-xs-3">Initials</label>
                                    <div class="col-xs-9">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Sign w/ Your Initials"
                                               ng-model="formData.initials"
                                               ng-pattern="/\w\w+/"
                                               ng-pattern-err-type="notSigned"
                                               ng-required-err-type="notSigned"
                                               required="required" />
                                    </div>
                                </div>

                            </div>
                        </div>

                    <div class="col-xs-4">
                        <button class="btn btn-primary pull-left"
                                type="button"
                                ng-click="onClearForm()"
                            <span>Clear</span>
                        </button>
                    </div>

                    <div class="col-xs-4 col-xs-offset-4">
                        <button class="btn btn-primary pull-right"
                                ladda="formStatus.scheduling"
                                type="submit"
                                ng-class="{'disabled':!form.$valid || formStatus.scheduled || formStatus.scheduling || formData.errorOccurred || formData.setupError,
                                          'btn-success disabled':formStatus.scheduled,
                                          'btn-error disabled':formStatus.errorOcurred}">
                            <span ng-show="!formStatus.scheduling && !formStatus.scheduled">Schedule</span>
                            <span ng-show="formStatus.scheduling">In Progress</span>
                            <span ng-show="formStatus.scheduled">Scheduled!</span>
                        </button>
                    </div>
                </div>
                    </form>
            </div>

            <div class="container debug"
                 style="padding-top:15px;"
                 ng-show="DEBUG">
                <h4>Tutors</h4>
                <pre>{{ tutors | json}}</pre>
                <h4>Form Data</h4>
                <pre>{{ formData | json }}</pre>
                <h4>Location</h4>
                <pre>{{ formData.selectedLocation |json }}</pre>
                <h4>Settings</h4>
                <pre>{{ settings | json}}</pre>
                <h4>Time</h4>
                <pre>{{ time }}</pre>
            </div>
        </div>
    </body>
</html>
